{% extends "base.html" %}
<html>
<head>
<title> new home</title>
</head>
<body>

{% block content %}
<div class = "maincontainer">
	<div class= "contentcontainer_recipes_all">
        	<div class = "bottom_recipes_all"; style ="margin-top: 100px;">
	        	<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/cake">
           			<img src="{% static "img/recipes" %}" />
	    			<ul>
	       				<li style= "text-align: center">Cakes</li>
	                        </ul>
			</a>
	  		</div>

	   		<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/quick">
           			<img src="{% static "img/health" %}" />
	    			<ul>
	       				<li style= "text-align: center">Quick food</li>
	    			</ul>
			</a>
	  		</div>

			<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/past">
           			<img src="{% static "img/cooking" %}" />
           			<ul>
	       				<li style= "text-align: center">Pastries</li>
	    			</ul>
			</a>
	  		</div>
		</div>

                <div class = "bottom_recipes_all">
	   		<div class ="bottomblock_recipes_all">
		        {% load static from staticfiles %}
			<a href="/recipes/variety">
             	        	<img src="{% static "img/recipes" %}" />
	    			<ul>
			       		<li style= "text-align: center">Variety Rice</li>
		    		</ul>
			</a>
	  		</div>

	   		<div class ="bottomblock_recipes_all">
           		{% load static from staticfiles %}
			<a href="/recipes/one">
           			<img src="{% static "img/health" %}" />
	   	 		<ul>
	       				<li style= "text-align: center">One pot cooking</li>
	    			</ul>
			</a>
	  		</div>
		</div>
    	</div>


</div>
{% endblock %}
</body>
</html>
