{% extends "base.html" %}
<html>
<head>
<title> new home</title>
</head>
<body>

{% block content %}
<div class = "maincontainer">

<div class= "contentcontainer_recipe_type">
<div class = "bottomcontainer_recipe_type">
{% if recipes.count > 0 %}
{% for recipe in recipes %}
	
        {% if recipe.recipe_type == type %}
        <div class = "bottom_recipe_type"; style ="margin-top: 50px;">
           {% load static from staticfiles %}
	<a href="/recipes/{{ type }}/{{ recipe.title.split|join:"-"}}/">
           <img src="/static/{{recipe.photo}}"/><br>
		<p>{{recipe.title}}</p>
	</a> 
	</div>
	{% endif %}

{% endfor %}
{% endif %}
</div>
</div>



</div>
{% endblock %}
</body>
</html>
