{% extends "base.html" %}
<html>
<head>
<title> new home</title>
</head>
<body>

{% block content %}
<div class = "maincontainer">

<div class = "content_show_recipe">
	<br>
	<br>
	<h1><u> {{ article.title }} </u></h1>
	{% if article.photo %}
	<img src="/static/{{article.photo}}" alt="hello", width= "400" </img>
	{% endif %}
	{% if article.tips %}
	<p> {{ article.tips|linebreaks }} </p>
	<br>
	{% endif %}
	<h2> Ingredients Required</h2>
	<p> {{ article.ingredients|linebreaks }} </p>
	<br>
	<h2> Directions </h2>
	<p> {{ article.directions|linebreaks }} </p>
	<br>
	<h2> Note </h2>
	<p> {{ article.note|linebreaks }} </p>
	<br>
	<h2> Posted by Surekha on {{article.pub_date }} </h2>

<div class = "bottom_show_recipe">
	<div class ="bottomblock_show_recipe">
	<ul>
  	      <li style= "text-align: center;">Latest recipes</li><br>
              {% for recipe in latest_recipes_three %}
	      <li style= "text-align: center"> <a href="/recipes/{{ recipe.recipe_type }}/{{ recipe.title }}/"> {{recipe.title}} </a> </li>
	      {% endfor %}
	</ul>
	</div>

	<div class ="bottomblock_show_recipe">
	<ul>
		<li style= "text-align: center;">Popular recipes</li><br>
		{% for recipe in random_recipes_three %}
		<li style= "text-align: center"> <a href="/recipes/{{ recipe.recipe_type }}/{{ recipe.title }}/"> {{recipe.title}} </a> </li>
		{% endfor %}

	</ul>
        </div>
</div>
</div>




</div>
{% endblock %}
</body>
</html>
