{% extends "base.html" %}
<html>
<head>
<title> new home</title>
</head>
<body>

{% block content %}
<div class = "maincontainer">
	<div class= "bigimage">
	     {% load static from staticfiles %}
		<div class = "firstimage">
                  <div class= "firstimage_first">
		     <img class="img1" src="{% static "img/bigpic_home1.jpg" %}"/>	
                  </div>
                  <div class = "firstimage_second">
		     <img class="img2" src="{% static "img/bigpic_home3.jpg" %}"/>
                  </div>
		</div>

		<div class = "secondimage">
		     <img src="{% static "img/bigpic_home2.jpg" %}"/>	
		</div>
	</div>

	   <div class ="navblock">
	    <ul>
	       <li style= "text-align: center; color:C8E231; line-height:30px; font-weight: bold;">Latest recipe</li>
			{% for recipe in latest_recipes_one %}
			<li style= "text-align: center"> <a href="/recipes/{{ recipe.recipe_type }}/{{ recipe.title.split|join:"-" }}/"> {{recipe.title}} </a> </li>
		<img src="/static/{{recipe.photo}}" alt="hello" </img><br><br>
			{% endfor %}
	       <li style= "text-align: center; color:C8E231; line-height:30px; font-weight: bold;">Popular recipe</li>
			{% for recipe in random_recipes_one %}
			<li style= "text-align: center"> <a href="/recipes/{{ recipe.recipe_type }}/{{ recipe.title.split|join:"-" }}/"> {{recipe.title}} </a> </li>
		<img src="/static/{{recipe.photo}}" alt="hello" </img><br><br>
			{% endfor %}

	    </ul>
	  </div>

	<div class = "content">
		<h1> Secret Of  Healthy Living</h1>
		<br>
		Secret of healthy living is Healthy eating. Many factors affect our health. Some you cannot control, such as your 			genetic makeup or your age and some you can like eating right. By taking steps towards healthy living, you can 			help reduce your risk of heart disease, cancer, stroke and other serious diseases. Healthy Eating is the basic 			step for healthy living. 
		<br><br>
		It doesn’t have any diet plans. It’s very simple and you need not keep track of calories or spend time in gym for 			workouts. Healthy eating is nothing but intuitive eating (Creating a Healthy Relationship With Food, Mind & Body). 			Healthy eating begins from healthy cooking.
		<br><br>
		Healthy cooking doesn't mean that you have to become a gourmet chef or invest in an expensive cookware. You can 		use basic cooking techniques to prepare food in healthy ways. The cooking methods described here best captures the 			flavor and retain the nutrients in foods along with keeping them fresh and healthy.
	</div>

        <div class = "bottom">
	   <div class ="bottomblock">
           {% load static from staticfiles %}
           <img src="{% static "img/recipes" %}" />
	   <br>
	   <center><a href="/recipes/all">Recipes</a></center>
	   <br>
<p>Find many recipies from baking to broiling and from pastry to perfect rice cooking. Complex recipies are made simple and easy that even a kid can cook with perfection.</p>
	  </div>

	   <div class ="bottomblock">
           {% load static from staticfiles %}
           <img src="{% static "img/health_benefits" %}" />
	   <br>
	   <center><a href="#">Health benefits</a></center>
	   <br>
<p>Healthy lifestyle is what all wants without compromising their favorite food. Is it possible? Yes! Its just the matter of knowing more about your food</p>
	    
	  </div>

	   <div class ="bottomblock">
           {% load static from staticfiles %}
           <img src="{% static "img/cooking_skills" %}" />
	   <br>
	   <center><a href="#">Cooking skills</a></center>
	   <br>
<p>To reach the peak of perfection in cooking follow the tips shared. Your magical touch will not only transform but also create an ambience as starred hotel food, to be craved by one & all in your fly.</p>	    
	  </div>
	</div>


</div>
{% endblock %}
</body>
</html>
